@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding-inline: 15px;
    }

    .header {
        padding-top: 30px;
    }

    .top-page__inner {
        padding-top: 170px;
    }

    .info__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .info__decor picture {
        max-width: 100%;
        height: 420px;
    }

    .info__decor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &::before {
            max-width: 70%;
            height: 75%;
        }
    }

    .info__decor picture:first-child {
        margin-top: 100px;
    }

    .info__inner {
        gap: 20px;
    }

    .contacts__inner {
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 30px;
    }
}

@media (max-width: 992px) {
    .header__list {
        gap: 20px;
    }

    .header__logo picture {
        width: 190px;
        display: block;

        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .info__inner {
        grid-template-columns: 1fr;
    }

    .reviews {
        padding-block: 100px;
    }

    .reviews__decor {
        margin-bottom: 20px;
    }

    .reviews__slide-title {
        font-size: 32px;
        line-height: 36px;
    }

    .reviews__slide-txt {
        line-height: 25px;
        margin-bottom: 20px;
    }

    .reviews__slide-name {
        font-size: 20px;
        letter-spacing: 3.8px;
    }

    .product__item picture {
        height: auto;
    }

    .product__item,
    .product__item.product__item--reverse {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__item {
        gap: 15px;
    }

    .product__item-title::before {
        left: 0;
    }

    .product__item-title {
        line-height: 45px;
        padding-bottom: 5px;
    }

    .product__item-txt {
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .photos__slide {
        min-height: 400px;
    }

    .contacts__inner {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    .footer__logo picture {
        width: 190px;
        display: block;

        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {

    .top-page__sub-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .top-page__title {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .top-page__list {
        gap: 15px;
    }

    .reviews-button-prev,
    .reviews-button-next {
        display: none;
    }

    .product__item,
    .product__item.product__item--reverse {
        grid-template-columns: 1fr;
    }

    .product__item.product__item--reverse picture {
        grid-row: 2;
    }

    .product__item picture {
        height: 300px;
    }

    .photos__top {
        padding-top: 50px;
    }

    .photos__top-arrows {
        gap: 20px;
    }

    .photos-button-next,
    .photos-button-prev {
        width: 30px;
        height: 30px;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .photos__title {
        font-size: 40px;
        line-height: 55px;
    }

    .photos__txt br {
        display: none;
    }

    .photos__top {
        gap: 10px;
    }

    .contacts__title {
        font-size: 40px;
        line-height: 50px;
    }

    .footer__list {
        gap: 15px;
    }

    .burger {
        display: block;
        transition: all .5s ease;

        &.active {
            position: fixed;
            top: 10px;
            z-index: 12;

            .burger__line {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: var(--blue);
                }
            }
        }
    }

    .header__nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -200vw;
        width: 100%;
        height: 100lvh;
        background-color: #fff;
        transition: all .15s ease;
        z-index: 11;
    }

    .header.active .header__nav {
        right: 0;
    }

    .header__list {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 40px;
        padding-top: 40px;
    }

    .header__item {
        max-width: 100%;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .header__link {
        color: var(--blue);
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .header__phone {
        position: fixed;
        opacity: 0;
        z-index: -1;
        bottom: 20px;
        color: var(--blue);
        transition: all .1s ease;
        right: -200vw;
    }

    .header__phone.active {
        opacity: 1;
        z-index: 12;
        right: 55%;
    }
}

@media (max-width: 568px) {
    .top-page {
        &__box {
            flex-direction: column;
            gap: 20px;
        }

        &__btn {
            padding-block: 24px;
            max-width: 100%;
            width: 100%;
        }

        margin-bottom: 50px;
    }

    .info__item-title {
        font-size: 22px;
        line-height: 25px;
    }

    .info__item-txt {
        font-size: 16px;
        line-height: 22px;
    }

    .info__item {
        padding-bottom: 15px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .info__decor::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .info {
        margin-bottom: 50px;
    }

    .reviews {
        margin-bottom: 50px;
    }

    .product {
        margin-bottom: 50px;
    }

    .photos {
        margin-bottom: 50px;
    }

    .contacts__item-decor {
        width: 40px;
        height: 40px;
    }

    .contacts__form {
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }

    .contacts__btn {
        max-width: 100%;
        grid-column: 1/-1;
    }

    .contacts__fieldset input,
    .contacts__fieldset textarea {
        padding-block: 20px;
    }

    .contacts__btn {
        padding-block: 30px;
    }

    .map {
        margin-bottom: 50px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 480px) {
    .top-page__inner {
        padding-top: 120px;
    }

    .top-page {
        &__sub-title {
            font-size: 18px;
            line-height: 22px;
        }

        &__title {
            font-size: 38px;
            line-height: 50px;
        }
    }

    .info__item-box {
        flex-direction: column;
        gap: 6px;
        align-items: flex-start;
    }

    .info__item-decor {
        height: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info__decor picture {
        height: 300px;
    }

    .info__decor {
        gap: 10px;
    }

    .reviews {
        padding-block: 70px;
    }

    .reviews__decor svg {
        width: 50px;
        height: 40px;
    }

    .photos__top-arrows {
        display: none;
    }

    .contacts__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts__item-title,
    .contacts__item-txt {
        text-align: left;
    }

    .map iframe {
        height: 400px;
    }
}